@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=IBM+Plex+Sans+JP&family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sawarabi+Mincho&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

// テキストサイズ
$h1-text-size: 11.4rem;
$h2-text-size: 3.6rem;
$h3-text-size: 2.4rem;
$p-text-size: 2rem;

// フォントの種類
$head-font-family: "A P-OTF Gothic MB101 Pr6N";