@use "../../Scss//variables" as *;

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    padding: 18px 0;
}

.nav {
    width: min(100%, 1200px);
    margin: 0 auto;
    padding: 0 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }


    ul {
        display: flex;
        gap: 60px;

        li a {
            color: #fff;
            font-weight: 500;
            letter-spacing: 0.03em;
            text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

            transition: opacity 0.2s ease;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}