@use "../../Scss//variables" as *;

.mainvisual {
    padding: 0 80px;
    width: 100vw;
    height: 865px;
    background-image: url("/img/top_mainvisual_test.jpg");
    background-size: cover;
}

.head {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 800px;

    .h1 {
        font-family: $head-font-family;
        font-size: $h1-text-size;
        line-height: .9;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}